Repository Devographics/state-of-js-graphql-results-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adamkudrna, @abaldeweg, @timbergus, @ezkato, @arnauddrain, @jaideepghosh, @polettoweb, @danisal, @lex111, @Omhet, @m-hagberg, @berkayyildiz, @ervinismu, @ymcheung

.github/CODEOWNERS:

/src/i18n/cs-CZ @adamkudrna

/src/i18n/de-DE @abaldeweg

/src/i18n/es-ES @timbergus @ezkato

/src/i18n/fr-FR @arnauddrain

/src/i18n/hi-IN @jaideepghosh

/src/i18n/it-IT @polettoweb

/src/i18n/pt-PT @danisal

/src/i18n/ru-RU @lex111 @Omhet

/src/i18n/sv-SE @m-hagberg

/src/i18n/tr-TR @berkayyildiz

/src/i18n/id-ID @ervinismu

/src/i18n/zh-Hant @ymcheung

State of css results tr-TR and other additions
  src/i18n/tr-TR/common.yml
  src/i18n/tr-TR/results.yml
  src/i18n/tr-TR/state_of_css.yml
  src/i18n/tr-TR/state_of_css_2020.yml
Owners: @berkayyildiz

Add latest contents.
  src/i18n/es-ES/common.yml
  src/i18n/es-ES/results.yml
  src/i18n/es-ES/state_of_css_2020.yml
Owners: @timbergus, @ezkato

Missing contents in T-Shirt.
  src/i18n/es-ES/state_of_css_2020.yml
Owners: @timbergus, @ezkato

Another improvements Russian translation
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Fixes
  src/i18n/ru-RU/results.yml
Owners: @lex111, @Omhet

add new translations for de-DE-informal
  src/i18n/de-DE/common.yml
  src/i18n/de-DE/results.yml
  src/i18n/de-DE/state_of_css.yml
  src/i18n/de-DE/state_of_css_2020.yml
Owners: @abaldeweg

add new translations for de-DE-informal
  src/i18n/de-DE/common.yml
  src/i18n/de-DE/results.yml
  src/i18n/de-DE/state_of_css.yml
  src/i18n/de-DE/state_of_css_2020.yml
Owners: @abaldeweg

Little improvements Russian translation
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css.yml
Owners: @lex111, @Omhet

Another improvements Russian translation
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Fixes
  src/i18n/ru-RU/results.yml
Owners: @lex111, @Omhet

Add latest contents.
  src/i18n/es-ES/common.yml
  src/i18n/es-ES/results.yml
  src/i18n/es-ES/state_of_css_2020.yml
Owners: @timbergus, @ezkato

Missing contents in T-Shirt.
  src/i18n/es-ES/state_of_css_2020.yml
Owners: @timbergus, @ezkato

Add new translations and missing files.
  src/i18n/es-ES/accounts.yml
  src/i18n/es-ES/common.yml
  src/i18n/es-ES/results.yml
  src/i18n/es-ES/state_of_css.yml
  src/i18n/es-ES/state_of_css_2020.yml
  src/i18n/es-ES/state_of_js.yml
Owners: @timbergus, @ezkato

new todos that coming from updates
  src/i18n/tr-TR/common.yml
  src/i18n/tr-TR/state_of_css.yml
Owners: @berkayyildiz

correcting non formal usage
  src/i18n/tr-TR/common.yml
  src/i18n/tr-TR/state_of_css.yml
  src/i18n/tr-TR/state_of_js.yml
Owners: @berkayyildiz

State of css 2020 results tr-TR
  src/i18n/tr-TR/state_of_css_2020.yml
Owners: @berkayyildiz

State of css results tr-TR and other additions
  src/i18n/tr-TR/common.yml
  src/i18n/tr-TR/results.yml
  src/i18n/tr-TR/state_of_css.yml
  src/i18n/tr-TR/state_of_css_2020.yml
Owners: @berkayyildiz

Add notes
  src/i18n/en-US/results.yml
  src/i18n/en-US/state_of_css_2020.yml
Owners: none

Fix yaml issues
  src/i18n/de-DE/common.yml
  src/i18n/de-DE/results.yml
Owners: @abaldeweg

add usage to tools rankings
  src/compute/experience.ts
  src/i18n/en-US/results.yml
  src/type_defs/tools.graphql
  src/types/tools.ts
Owners: none

fix completion
  src/compute/common.ts
  src/compute/experience.ts
  src/compute/generic.ts
Owners: none

compute percentages from total number of respondents
  src/compute/generic.ts
Owners: none

Add picks
  src/i18n/en-US/state_of_css_2020.yml
Owners: none

Actualize Russian translation
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Another translations
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Fix
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Actualize Russian translation
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Another translations
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Fix
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Consider "TODO" strings as empty
  src/compute/generic.ts
  src/i18n.ts
Owners: none

Trim whitespace
  src/i18n.ts
Owners: none

Final edits for Russian translation
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Final edits for Russian translation
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

More translations
  src/i18n/en-US/common.yml
  src/i18n/en-US/results.yml
  src/i18n/en-US/state_of_css_2020.yml
Owners: none

Better fallback/missing strings handling
  src/i18n.ts
Owners: none

Change translator mode key
  src/i18n/en-US/common.yml
Owners: none

Remove console.log
  src/compute/generic.ts
Owners: none

Remove more console.logs…
  src/i18n.ts
Owners: none

Update Russian translation
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Fix
  src/i18n/ru-RU/state_of_css.yml
Owners: @lex111, @Omhet
