Repository Devographics/state-of-js-graphql-results-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adamkudrna, @abaldeweg, @timbergus, @ezkato, @arnauddrain, @jaideepghosh, @polettoweb, @danisal, @lex111, @Omhet, @m-hagberg, @berkayyildiz, @ervinismu, @ymcheung

.github/CODEOWNERS:

/src/i18n/cs-CZ @adamkudrna

/src/i18n/de-DE @abaldeweg

/src/i18n/es-ES @timbergus @ezkato

/src/i18n/fr-FR @arnauddrain

/src/i18n/hi-IN @jaideepghosh

/src/i18n/it-IT @polettoweb

/src/i18n/pt-PT @danisal

/src/i18n/ru-RU @lex111 @Omhet

/src/i18n/sv-SE @m-hagberg

/src/i18n/tr-TR @berkayyildiz

/src/i18n/id-ID @ervinismu

/src/i18n/zh-Hant @ymcheung

Fix some nits
  src/data/entities/text_editors.yml
  src/i18n/de-DE/state_of_css_2020.yml
  src/i18n/en-US/state_of_css_2020.yml
  src/i18n/es-ES/state_of_css_2020.yml
  src/i18n/ru-RU/state_of_css_2020.yml
  src/i18n/tr-TR/state_of_css_2020.yml
Owners: @abaldeweg, @timbergus, @ezkato, @lex111, @Omhet, @berkayyildiz

Fix some nits
  src/data/entities/text_editors.yml
  src/i18n/de-DE/state_of_css_2020.yml
  src/i18n/en-US/state_of_css_2020.yml
  src/i18n/es-ES/state_of_css_2020.yml
  src/i18n/ru-RU/state_of_css_2020.yml
  src/i18n/tr-TR/state_of_css_2020.yml
Owners: @abaldeweg, @timbergus, @ezkato, @lex111, @Omhet, @berkayyildiz

Handle empty string files better
  src/i18n.ts
Owners: none

opinions_other -> opinions_others
  src/i18n/cs-CZ/state_of_css.yml
  src/i18n/cs-CZ/state_of_js.yml
  src/i18n/de-DE/state_of_css.yml
  src/i18n/de-DE/state_of_js.yml
  src/i18n/fr-FR/state_of_css.yml
  src/i18n/fr-FR/state_of_js.yml
  src/i18n/hi-IN/state_of_css.yml
  src/i18n/hi-IN/state_of_js.yml
  src/i18n/id-ID/state_of_css.yml
  src/i18n/id-ID/state_of_js.yml
  src/i18n/it-IT/state_of_css.yml
  src/i18n/it-IT/state_of_js.yml
  src/i18n/pl-PL/state_of_css.yml
  src/i18n/pl-PL/state_of_js.yml
  src/i18n/pt-PT/state_of_css.yml
  src/i18n/pt-PT/state_of_js.yml
  src/i18n/ru-RU/state_of_css.yml
  src/i18n/ru-RU/state_of_js.yml
  src/i18n/sv-SE/state_of_css.yml
  src/i18n/sv-SE/state_of_js.yml
  src/i18n/tr-TR/state_of_css.yml
  src/i18n/tr-TR/state_of_js.yml
  src/i18n/zh-Hans/state_of_css.yml
  src/i18n/zh-Hans/state_of_js.yml
  src/i18n/zh-Hant/state_of_css.yml
  src/i18n/zh-Hant/state_of_js.yml
Owners: @adamkudrna, @abaldeweg, @arnauddrain, @jaideepghosh, @ervinismu, @polettoweb, @danisal, @lex111, @Omhet, @m-hagberg, @berkayyildiz, @ymcheung

Add translations for State of JS 2020
  src/i18n/en-US/common.yml
  src/i18n/en-US/state_of_css.yml
  src/i18n/en-US/state_of_css_2020.yml
  src/i18n/en-US/state_of_js.yml
  src/i18n/en-US/state_of_js_2020.yml
  src/i18n/en-US/surveys.yml
  src/i18n/es-ES/state_of_css.yml
  src/i18n/es-ES/state_of_js.yml
Owners: @timbergus, @ezkato

Add missing entities
  src/data/entities/libraries.yml
  src/data/entities/other.yml
  src/data/entities/podcasts.yml
Owners: none

Remove console.log
  src/i18n.ts
Owners: none

Fix inconsistencies in Russian translation
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css.yml
  src/i18n/ru-RU/state_of_css_2020.yml
  src/i18n/ru-RU/state_of_js.yml
Owners: @lex111, @Omhet

Fix inconsistencies in Russian translation
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css.yml
  src/i18n/ru-RU/state_of_css_2020.yml
  src/i18n/ru-RU/state_of_js.yml
Owners: @lex111, @Omhet

sections.demographics.description -> sections.user_info.description
  src/data/entities/libraries.yml
  src/i18n/de-DE/state_of_css_2020.yml
  src/i18n/en-US/state_of_css_2020.yml
  src/i18n/es-ES/state_of_css_2020.yml
  src/i18n/ru-RU/state_of_css_2020.yml
  src/i18n/tr-TR/state_of_css_2020.yml
Owners: @abaldeweg, @timbergus, @ezkato, @lex111, @Omhet, @berkayyildiz

Change a few strings
  src/i18n/en-US/common.yml
  src/i18n/en-US/state_of_css.yml
  src/i18n/en-US/state_of_css_2020.yml
Owners: none

Add option to disable i18n fallback
  src/i18n.ts
  src/resolvers/query.ts
  src/type_defs/schema.graphql
  src/type_defs/translations.graphql
Owners: none

Add into for js2020
  src/i18n/en-US/common.yml
  src/i18n/en-US/state_of_js_2020.yml
Owners: none

Update Russian translation
  src/i18n/en-US/state_of_js_2020.yml
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/state_of_css.yml
  src/i18n/ru-RU/state_of_css_2020.yml
  src/i18n/ru-RU/state_of_js.yml
  src/i18n/ru-RU/state_of_js_2020.yml
  src/i18n/ru-RU/surveys.yml
Owners: @lex111, @Omhet

Update Best of JS data
  src/data/bestofjs.yml
Owners: none

Update Russian translation
  src/i18n/en-US/state_of_js_2020.yml
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/state_of_css.yml
  src/i18n/ru-RU/state_of_css_2020.yml
  src/i18n/ru-RU/state_of_js.yml
  src/i18n/ru-RU/state_of_js_2020.yml
  src/i18n/ru-RU/surveys.yml
Owners: @lex111, @Omhet

Fix features mdn links
  src/data/entities/features.yml
Owners: none

Create separate file for translations specific to a survey
  src/i18n/en-US/common.yml
  src/i18n/en-US/state_of_js_2020.yml
  src/i18n/en-US/state_of_js_2020_survey.yml
  src/i18n/hi-IN/common.yml
  src/i18n/pl-PL/common.yml
  src/type_defs/translations.graphql
Owners: @jaideepghosh

Update Russian translation
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/state_of_js_2020.yml
  src/i18n/ru-RU/state_of_js_2020_survey.yml
Owners: @lex111, @Omhet

Update Russian translation
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/state_of_js_2020.yml
  src/i18n/ru-RU/state_of_js_2020_survey.yml
Owners: @lex111, @Omhet

Fix names in russian translation of state_of_css_2020
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

docs(common.yml): fix typo
  src/i18n/ru-RU/common.yml
Owners: @lex111, @Omhet

Fix names in russian translation of state_of_css_2020
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

docs(common.yml): fix typo
  src/i18n/ru-RU/common.yml
Owners: @lex111, @Omhet

Various fixes to Russian translation
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/state_of_js.yml
  src/i18n/ru-RU/state_of_js_2020_survey.yml
Owners: @lex111, @Omhet

Fix some nits
  src/data/entities/libraries.yml
  src/data/entities/sites.yml
Owners: none

Fix
  src/i18n/ru-RU/state_of_js.yml
Owners: @lex111, @Omhet

Fix
  src/data/entities/libraries.yml
Owners: none

Various fixes to Russian translation
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/state_of_js.yml
  src/i18n/ru-RU/state_of_js_2020_survey.yml
Owners: @lex111, @Omhet

Fix
  src/i18n/ru-RU/state_of_js.yml
Owners: @lex111, @Omhet

Fix some nits
  src/data/entities/libraries.yml
  src/data/entities/sites.yml
Owners: none

Fix
  src/data/entities/libraries.yml
Owners: none

Add Newline; Fix Linaria link
  src/data/entities/courses.yml
  src/data/entities/libraries.yml
Owners: none

Fix typos in Russian translation
  src/i18n/ru-RU/state_of_js.yml
Owners: @lex111, @Omhet

Update state_of_js_2020_survey.yml
  src/i18n/ru-RU/state_of_js_2020_survey.yml
Owners: @lex111, @Omhet

Update state_of_js_2020_survey.yml
  src/i18n/ru-RU/state_of_js_2020_survey.yml
Owners: @lex111, @Omhet

Fix typos in Russian translation
  src/i18n/ru-RU/state_of_js.yml
Owners: @lex111, @Omhet

Update
  src/i18n/locales.yml
Owners: none

Update
  src/i18n/locales.yml
Owners: none

Add JS missing features
  src/data/entities/features.yml
  src/data/entities/missing_features.yml
  src/i18n/fr-FR/common.yml
Owners: @arnauddrain
