Repository Devographics/state-of-js-graphql-results-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adamkudrna, @abaldeweg, @timbergus, @ezkato, @arnauddrain, @jaideepghosh, @polettoweb, @danisal, @lex111, @Omhet, @m-hagberg, @berkayyildiz, @ervinismu, @ymcheung

Add entities
  src/data/entities/index.ts
  src/data/entities/industry_sectors.yml
  src/data/entities/libraries.yml
  src/data/entities/podcasts.yml
Owners: none

Small text fixes to pt-PT
  src/i18n/pt-PT/common.yml
  src/i18n/pt-PT/state_of_js.yml
Owners: @danisal

intl: update ru-RU translation
  src/i18n/ru-RU/common.yml
Owners: @lex111, @Omhet

Small text fixes to pt-PT
  src/i18n/pt-PT/common.yml
  src/i18n/pt-PT/state_of_js.yml
Owners: @danisal

intl: update ru-RU translation
  src/i18n/ru-RU/common.yml
Owners: @lex111, @Omhet

intl(ru-RU): fix typo in common.yml
  src/i18n/ru-RU/common.yml
Owners: @lex111, @Omhet

.github/CODEOWNERS:

/src/i18n/cs-CZ @adamkudrna

/src/i18n/de-DE @abaldeweg

/src/i18n/es-ES @timbergus @ezkato

/src/i18n/fr-FR @arnauddrain

/src/i18n/hi-IN @jaideepghosh

/src/i18n/it-IT @polettoweb

/src/i18n/pt-PT @danisal

/src/i18n/ru-RU @lex111 @Omhet

/src/i18n/sv-SE @m-hagberg

/src/i18n/tr-TR @berkayyildiz

/src/i18n/id-ID @ervinismu

/src/i18n/zh-Hant @ymcheung
