Repository Devographics/state-of-js-graphql-results-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adamkudrna, @abaldeweg, @timbergus, @ezkato, @arnauddrain, @jaideepghosh, @polettoweb, @danisal, @lex111, @Omhet, @m-hagberg, @berkayyildiz, @ervinismu, @ymcheung

.github/CODEOWNERS:

/src/i18n/cs-CZ @adamkudrna

/src/i18n/de-DE @abaldeweg

/src/i18n/es-ES @timbergus @ezkato

/src/i18n/fr-FR @arnauddrain

/src/i18n/hi-IN @jaideepghosh

/src/i18n/it-IT @polettoweb

/src/i18n/pt-PT @danisal

/src/i18n/ru-RU @lex111 @Omhet

/src/i18n/sv-SE @m-hagberg

/src/i18n/tr-TR @berkayyildiz

/src/i18n/id-ID @ervinismu

/src/i18n/zh-Hant @ymcheung

Update Russian translation
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Fix
  src/i18n/ru-RU/state_of_css.yml
Owners: @lex111, @Omhet

Fix links interpolations
  src/i18n/cs-CZ/common.yml
  src/i18n/de-DE/common.yml
  src/i18n/de-DE/results.yml
  src/i18n/en-US/common.yml
  src/i18n/en-US/results.yml
  src/i18n/es-ES/common.yml
  src/i18n/es-ES/results.yml
  src/i18n/fr-FR/common.yml
  src/i18n/hi-IN/common.yml
  src/i18n/id-ID/common.yml
  src/i18n/it-IT/common.yml
  src/i18n/pl-PL/common.yml
  src/i18n/pt-PT/common.yml
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/results.yml
  src/i18n/sv-SE/common.yml
  src/i18n/tr-TR/common.yml
  src/i18n/tr-TR/results.yml
  src/i18n/zh-Hans/common.yml
  src/i18n/zh-Hant/common.yml
Owners: @adamkudrna, @abaldeweg, @timbergus, @ezkato, @arnauddrain, @jaideepghosh, @ervinismu, @polettoweb, @danisal, @lex111, @Omhet, @m-hagberg, @berkayyildiz, @ymcheung

State of CSS Kaggle link
  src/i18n/en-US/state_of_css_2020.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Add quotes
  src/i18n/cs-CZ/common.yml
  src/i18n/de-DE/common.yml
  src/i18n/de-DE/results.yml
  src/i18n/en-US/common.yml
  src/i18n/en-US/results.yml
  src/i18n/es-ES/common.yml
  src/i18n/es-ES/results.yml
  src/i18n/fr-FR/common.yml
  src/i18n/hi-IN/common.yml
  src/i18n/id-ID/common.yml
  src/i18n/it-IT/common.yml
  src/i18n/pl-PL/common.yml
  src/i18n/pt-PT/common.yml
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/results.yml
  src/i18n/sv-SE/common.yml
  src/i18n/tr-TR/common.yml
  src/i18n/tr-TR/results.yml
  src/i18n/zh-Hans/common.yml
  src/i18n/zh-Hant/common.yml
Owners: @adamkudrna, @abaldeweg, @timbergus, @ezkato, @arnauddrain, @jaideepghosh, @ervinismu, @polettoweb, @danisal, @lex111, @Omhet, @m-hagberg, @berkayyildiz, @ymcheung

More picks
  src/i18n/en-US/state_of_css_2020.yml
Owners: none

Add quotes
  src/i18n/cs-CZ/common.yml
  src/i18n/de-DE/common.yml
  src/i18n/de-DE/results.yml
  src/i18n/en-US/common.yml
  src/i18n/en-US/results.yml
  src/i18n/es-ES/common.yml
  src/i18n/es-ES/results.yml
  src/i18n/fr-FR/common.yml
  src/i18n/hi-IN/common.yml
  src/i18n/id-ID/common.yml
  src/i18n/it-IT/common.yml
  src/i18n/pl-PL/common.yml
  src/i18n/pt-PT/common.yml
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/results.yml
  src/i18n/sv-SE/common.yml
  src/i18n/tr-TR/common.yml
  src/i18n/tr-TR/results.yml
  src/i18n/zh-Hans/common.yml
  src/i18n/zh-Hant/common.yml
Owners: @adamkudrna, @abaldeweg, @timbergus, @ezkato, @arnauddrain, @jaideepghosh, @ervinismu, @polettoweb, @danisal, @lex111, @Omhet, @m-hagberg, @berkayyildiz, @ymcheung

Fix links interpolations
  src/i18n/cs-CZ/common.yml
  src/i18n/de-DE/common.yml
  src/i18n/de-DE/results.yml
  src/i18n/en-US/common.yml
  src/i18n/en-US/results.yml
  src/i18n/es-ES/common.yml
  src/i18n/es-ES/results.yml
  src/i18n/fr-FR/common.yml
  src/i18n/hi-IN/common.yml
  src/i18n/id-ID/common.yml
  src/i18n/it-IT/common.yml
  src/i18n/pl-PL/common.yml
  src/i18n/pt-PT/common.yml
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/results.yml
  src/i18n/sv-SE/common.yml
  src/i18n/tr-TR/common.yml
  src/i18n/tr-TR/results.yml
  src/i18n/zh-Hans/common.yml
  src/i18n/zh-Hant/common.yml
Owners: @adamkudrna, @abaldeweg, @timbergus, @ezkato, @arnauddrain, @jaideepghosh, @ervinismu, @polettoweb, @danisal, @lex111, @Omhet, @m-hagberg, @berkayyildiz, @ymcheung

Add Nivo link translation
  src/i18n/en-US/common.yml
Owners: none

Update Russian translation
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Fix picks keys
  src/i18n/en-US/state_of_css_2020.yml
Owners: none

Fix keys
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Fixes
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/state_of_css.yml
Owners: @lex111, @Omhet

Improve matrices
  src/compute/generic.ts
  src/compute/matrices.ts
  src/resolvers/matrices.ts
  src/type_defs/matrices.graphql
Owners: none

Update Russian translation
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Fixes
  src/i18n/ru-RU/common.yml
  src/i18n/ru-RU/state_of_css.yml
Owners: @lex111, @Omhet

Fix keys
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Add new translations for tools_ranges_multiple_diverging_lines block
  src/i18n/en-US/results.yml
Owners: none

Add translations for tools_usage_variation block
  src/i18n/en-US/results.yml
Owners: none

Fix description translation for tools_usage_variation block
  src/i18n/en-US/results.yml
Owners: none

Add extra translations to account for different keys
  src/i18n/en-US/state_of_css.yml
Owners: none

Improve tools matrices API
  src/compute/matrices.ts
  src/i18n/en-US/results.yml
  src/resolvers/matrices.ts
  src/type_defs/matrices.graphql
Owners: none

Adjust tools usage variants block translations
  src/i18n/en-US/results.yml
Owners: none

Add descriptions to matrices GraphQL types
  src/compute/matrices.ts
  src/type_defs/matrices.graphql
Owners: none

Add support for usage to matrices API
  src/compute/matrices.ts
Owners: none

Make sure to use intersecting data in orderto compute percentages
  src/compute/matrices.ts
  src/compute/tools.ts
  src/resolvers/matrices.ts
  src/type_defs/matrices.graphql
Owners: none

Update Russian translation
  src/i18n/en-US/results.yml
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Improvements
  src/i18n/ru-RU/results.yml
Owners: @lex111, @Omhet

Update Russian translation
  src/i18n/en-US/results.yml
  src/i18n/ru-RU/results.yml
  src/i18n/ru-RU/state_of_css.yml
  src/i18n/ru-RU/state_of_css_2020.yml
Owners: @lex111, @Omhet

Improvements
  src/i18n/ru-RU/results.yml
Owners: @lex111, @Omhet

Add support + partners strings
  src/i18n/en-US/results.yml
Owners: none

Update Russian translation
  src/i18n/ru-RU/results.yml
Owners: @lex111, @Omhet

Fix
  src/i18n/ru-RU/results.yml
Owners: @lex111, @Omhet

Fixes
  src/i18n/ru-RU/common.yml
Owners: @lex111, @Omhet

Fix
  src/i18n/ru-RU/results.yml
Owners: @lex111, @Omhet

Update Russian translation
  src/i18n/ru-RU/results.yml
Owners: @lex111, @Omhet

Fixes
  src/i18n/ru-RU/common.yml
Owners: @lex111, @Omhet

Added missing dots
  src/i18n/de-DE/results.yml
  src/i18n/en-US/results.yml
  src/i18n/en-US/state_of_css_2020.yml
  src/i18n/es-ES/results.yml
  src/i18n/ru-RU/results.yml
Owners: @abaldeweg, @timbergus, @ezkato, @lex111, @Omhet

Added missing dots
  src/i18n/de-DE/results.yml
  src/i18n/en-US/results.yml
  src/i18n/en-US/state_of_css_2020.yml
  src/i18n/es-ES/results.yml
  src/i18n/ru-RU/results.yml
Owners: @abaldeweg, @timbergus, @ezkato, @lex111, @Omhet

Improve tools matrices computation and normalize compound experiences config
  src/compute/matrices.ts
  src/compute/tools.ts
  src/type_defs/matrices.graphql
Owners: none
